.Task {
  background: white;
  border: 1px solid #ccc;
  margin: 0.5em 0;
}

.Task .status {
  background: #fff;
  border: 1px solid #000;
  border-radius: 0.3em;
  margin: 0.5em;
  display: inline-block;
  padding: 0.2em;
  font-size: 0.8em;
}

.Task .status.todo {
  background: #f52;
}

.Task .status.doing {
  background: #0af;
}

.Task .status.done {
  background: #8f8;
}

.Task header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
}

.Task .remove {
  border-radius: 100%;
  border: 1px solid #f52;
  color: #f52;
  background-color: rgba(255, 85, 34, 0.2);
  padding: 0em 0.3em;
}

.Task footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f0f0;
  border-top: 1px solid #eee;
}
